.body {
  color: #eeeeee;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'Grandstander', sans-serif;
  margin: 0;
}

.top-banner {
  background-image: url("https://coverfiles.alphacoders.com/124/124751.png");
  background-size: cover;
  color: rgb(10, 114, 31);
  padding: 130px;
}

.container {
  width: 650px;
  margin: 50px auto;
}

.top-banner h1 {
  -webkit-text-stroke: 1px #747171;
  font-weight: bold;
  font-size: 40px;
}

.top-banner p {
  -webkit-text-stroke: 1px #747171;
  font-weight: lighter;
  font-style: italic;
  font-size: 20px;
  font-family: 'Grandstander';
}

.lower-section {
  width: 650px;
  margin: 50px auto;
}

h1, h2 {
  font-family: 'Grandstander', sans-serif;
  font-weight: lighter;
}

h2 {
  color: gray;
  font-weight: lighter;
}

.lower-section p {
  color: darkgray;
  font-family: 'Lora'
}

.special-link {
  background-image: linear-gradient(to right, rgba(173, 244, 202, 0.5), rgb(158, 247, 195, 0.5));
  color: darkgrey;
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
}

.special-link:hover {
  background-image: linear-gradient(to right, rgb(200, 173, 244, 1), rgb(196, 167, 244));
  color: rgb(255, 255, 255);
};

a {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .top-banner {
    padding: 50px 0;
  }
  .top-banner h1 {
    font-size: 35px;
  }
  .top-banner p {
    font-size: 15px;
  }
}
